*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color: #333;
  text-decoration: none;
}

.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  cursor: pointer;
}